.header{

	display: flex;

  align-items: center;

  text-align: center;

  justify-content: center;

	height: 64px;

	background-color: var( --color-full__grey-2 );

}

.search-area{

	margin-top: 1rem;

}

.search-area__input{

	border-radius: 0.5rem;

	border: 0;

	background-color: var( --color-full__grey );

	padding: 0.5rem 1rem;

}

.controls{

	display: flex;

	justify-content: space-between;

	margin-top: 1rem;

	padding: 0.5rem 2rem;	

}

.controls__select-all,
.controls__actions{

	width: 300px;

}

.controls__select-all{

	display: flex;

	justify-content: start;

}

.controls__actions{

	display: flex;

	justify-content: end;

}

.controls__select-all__box{

	cursor: pointer;

}


.controls__actions img{

	width: 40px;

	cursor: pointer;

}

.controls__select-all__box{

	position: relative;

	height: 0.75rem;

	width: 0.75rem;

	border: 0.2rem solid black;

	border-radius: 0.2rem;

}

.controls__select-all__box img {

	position: absolute;

	top: 0px;

	left: 0px;

}

.controls__select-all__count{

	margin: 0 0 0 1rem;

}

dialog{

	border: 0;

	font-family: sans-serif;

	border-radius: 0.5rem;

	background-color: salmon;

}

dialog::backdrop{

	background-color: salmon;

	opacity: 0.25;

}

.dialog__buttons{

	text-align: right;

}

button{

	border: 0;

	padding: 0.5rem;

	border-radius: 0.5rem;
	
	cursor: pointer;

}

.card-container{

	display: flex;

	justify-content: center;

	align-items: baseline;

	padding: 0rem 2rem;

	flex-direction: row;

	flex-wrap: wrap;

	margin-top: 2rem;

	overflow: scroll;

	bottom: 500px;

	height: 500px;

}

.user-card{

	position: relative;

	width: 100px;

	height: 155px;

	margin-right: 1rem;

	margin-top: 1rem;

	text-align: center;

	background-color: var( --color-full__grey );

	padding: 1rem;

	border-radius: 0.5rem;

	font-size: 0.75rem;

	box-shadow: 5px 5px 5px var( --color-full__grey-2 );

}

.user-card__profile-avatar{

	width: 50px;

	border-radius: 25px;

}

.user-card__check{

	position: absolute;
  
	top: 5px;
  
	left: 5px;

}

.user-card button{

	background-color: var( --color-full__blue ); 

}

.user-card__profile-id{

	margin-bottom: 0px;

}

.user-card__profile-login{

	margin-top: 0px;

	height: 30px;

}