dialog{

	border: 0;

	font-family: sans-serif;

	border-radius: 0.5rem;

}

dialog::backdrop{

	background-color: salmon;

	opacity: 0.25;

}

.dialog__buttons{

	text-align: right;

}

button{

	border: 0;

	padding: 0.5rem;

	border-radius: 0.5rem;
	
	cursor: pointer;

}